<div class = " row mb-3 mr-auto">
  <div class = "col-8 shadow-lg p-0 bg-white">
    <div class="card">

      <div class = "card-header">
         <h4>Sell a Mineral</h4>
      </div>

      <div class = "card-body" >
        <form (ngSubmit)="onSubmit()"  [formGroup]="addMineralForm">
          <div class = "tab-panel">
            <tabset class = "member-tabset"  #formTabs>
              <tab heading = "Basic Details" formGroupName="BasicDetails">
                <div class = "form-group col-12"  >
                  <label for = "name">Name</label>
                  <input type = "text" class = "form-control"  ngModel formControlName = "Name"  ngModel [(ngModel)] = "mineralView.Name" >
                  <div class = "error-block" *ngIf="Name.invalid && (nextClicked || Name.touched)"> Please give the name of the mineral</div>
                </div>
              </tab>
            </tabset>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
