<div class="card">
    <div class = "card-header">
       Sell a Mineral
    </div>
    <div class = "card-body" >
       <form (ngSubmit)='onSubmit(addMineralForm)' #Form = "ngForm">
        <div class = "form-group col-12">
            <label for = "name">Name</label>
            <input type = "text" class = "form-control" #propName ="ngModel" ngModel name = "Name" required>
            <span *ngIf="!propName.valid && propName.touched" class = "error-block">
                Please provide name!
            </span>
        </div>

        <div class = "form-group col-12">
          <label for = "formula">Formula</label>
          <input type = "text" class = "form-control" ngModel name = "Formula">
      </div>

      <div class = "form-group col-12">
        <label for = "price">Price</label>
        <input type = "text" class = "form-control" ngModel name = "Price">
    </div>

    <div class = "form-group col-12">
      <label for = "qunatity">Quantity</label>
      <input type = "text" class = "form-control" ngModel name = "Quantity">
  </div>
  <div class = "form-group col-12">
     <button [disabled] = "!Form.valid" type = "submit" class = "btn btn-dark mr-2">Save</button>
     <button type = "reset" class = "btn btn-dark">Cancel</button>
  </div>
       </form>
    </div>
</div>
